@font-face {
	font-family: 'OswaldRegular';
	src: local('Oswald Regular'), local('Oswald'), url('../font/Oswald-Regular.ttf') format('truetype');
}

body {
	margin: 0 auto;
	font-family: 'OswaldRegular';
}

.wrapper {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 50px auto 30px;
}

.header {
	background-color: #34495e;
}

.logo {
	display: grid;
	margin: 16px;
	grid-template-columns: 2em 12px 200px auto;
	grid-template-rows: auto;
}

.logo a {
	font-size: 1.6em;
	color: #FFF;
	text-decoration: none;
	line-height: .9em;
}

.logo a span {
	font-weight: 300;
}

.logo img {
	height: 1.6em;
	width: 1.6em;
}

.headGreeting {
	grid-column: 1 / 4;
}

.mainContent {
	display: grid;
	grid-template-columns: 265px auto;
	grid-template-rows: auto;
	grid-column-gap: 1em;
}

.sideNav {
	background-color: #171717;
	color: $CCC;
	min-height: 909px;
}

button.accordion {
    background-color: #171717;
    color: #CCC;
	font-size: 1.2em;
    cursor: pointer;
    padding: 10px 15px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.2s;
	border-bottom: 1px solid #363636;
}

button.accordion.active, button.accordion:hover {
    background-color: #343434;
	padding-left: 35px;
}

div.dropMenu {
	margin: 0;
    width: 100%;
	border: none;
	background-color: $171717;
    display: none;
	transition: 0.2s;
}

div.dropMenu li {
	transition: 0.2s;
}

div.dropMenu a:hover {
	transition: 0.2s;
}

div.dropMenu li {

}

div.dropMenu a {
	padding: 10px 15px;
}

.nav {
	display: grid;
	grid-template-columns: auto;
}

.nav li {
	list-style: none;
}

.nav li a {
	color: #CCC;
	display: block;
	font-size: 1.2em;
	text-decoration: none;
	border-bottom: 1px solid #363636;
	transition: 0.2s;
}

.nav li a:hover {
	text-decoration: none;
	background-color: #343434;
	padding-left: 35px;
}

.nav li a:active {
	background-color: #363636;
	padding-left: 25px;
}

.sideNav li {
	background-color: #171717;
	color: $CCC;
}

.sideNav a {
	background-color: #171717;
	color: $CCC;
	text-deocration: none;
}

.subContent {
	padding: 36px;
	min-height: 869px;
}

.subContent #group_box {
	margin-top: 20px;
	width: 88%;
	border: 2px solid #34495e;
}

.subContent #group_box #box_title{
	padding: 8px 26px;
	font-size: 1.2em;
	color: #FFF;
	background-color: #34495e;
}

.subContent #group_box #box_title span{
	margin-right: 15px;
}

.subContent #group_box #box_options{
	padding: 16px 0 16px 26px;
	font-size: 1.1em;
}

.subContent #group_box #box_inputs{
	padding: 0 26px 26px 26px;
	font-size: 1.1em;
}

.subContent #group_box #box_inputs #form_table {
	margin-top: 36px;
}

.subContent #group_box #box_inputs #form_table #form_label {
	width: 160px;
	vertical-align: top;
}

.subContent #group_box #box_inputs #form_table #form_field {
	width: 400px;
	vertical-align: top;
}

.subContent #group_box #box_actions{
	padding: 16px 26px;
	font-size: 1.2em;
	background-color: #CCC;
}

.subContent img {
	width: 100%;
}

.footer {
	color: #FFF;
	background-color: #34495e;
}

.designer {
	margin-top: 5px;
	margin-left: 42%;
	self-justify: center;}

.designer a {
	font-size: 1em;
	color: #FFF;}

.designer a span {
	font-weight: 300;}

.designer img {
	height: 10;
	width: 10;}
