@import url('https://fonts.googleapis.com/css?family=Abel');

body {
	maring: 0 auto;
	font-family: Abel;
}

.navbar {
	border-bottom: 1px solid #F3F3F3;
}

.navbar img {
}

.nav-right {
}

.navbar-nav, .nav {
	display: inline-block;
	float: right;
}

.navbar-nav a {
	padding: 10px 15px;
	text-decoration: none;
	color: #363636;
}

.navbar-nav a:hover {
	background-color: #F3F3F3;
	color: #C9C9C9;
}

.active {
	background-color: #F3F3F3;
	color: #C9C9C9;
}

.navheader {
	padding-top: 8px;
	margin-left: 20px;
	vertical-align: bottom;
	color: #969696;
}

.navelement-right {
	text-align: right;
	margin-left: 20px;
	padding-top: 30px;
	float: left;
	font-size: 1.4em;
	color: #969696;
}

footer {
	font-family: Abel;
	background-color: #F3F3F3;
	padding-top: 26px;
	text-align: center;
	min-height: 76px;
	color: #969696;
}

@media (max-width: 600px) {
	.navbar {
		border-bottom: 1px solid #F3F3F3;
		font-family: Abel;
		text-align: center;
	}
	
	.navbar img {
		max-width: 100%;
	}

	.navheader {
		padding-top: 2px;
		font-size: 6.4em;
		color: #969696;
	}
	
	.navelement-right {
		padding-top: 2px;
		text-align: center;
		font-size: 1.4em;
		color: #969696;
	}

	.top-panel {
		padding-top: 12px;
	}
 }